@import url(media/xl.css);
@import url(media/lg.css);
@font-face {
  font-family: SanFrancis;
  src: url("../fonts/SFUIText-Light.otf"); }

@font-face {
  font-family: SanFrancisBold;
  src: url("../fonts/SFUIText-Semibold.otf"); }
