@import url(media/xl.scss);
@import url(media/lg.scss);
@font-face {
  font-family: SanFrancis;
  src: url("../fonts/SFUIText-Light.otf");
}
@font-face {
  font-family: SanFrancisBold;
  src: url("../fonts/SFUIText-Semibold.otf");
}