@media screen and (min-width: 834px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  //start project
  div.wrapper {
    > div.menu {
      height: 48px;
      width: 100%;
      display: grid;
      position: fixed;
      margin: 0 auto;
      grid-template-columns: 8% 84% 8%;
      background-color: rgba(0, 0, 0, 0.788);
      z-index: 5;
      > div.tab {
        display: grid;
        height: inherit;
        width: inherit;
        grid-template-columns: repeat(13, auto);
        align-items: center;
        justify-items: center;
        > div.InMenu > a {
          font-size: 13px;
          color: #c5c5c5;
          font-family: SanFrancis;
          transition: 300ms;
          text-decoration: none;
          cursor: pointer;
          &:hover {
            color: #f5f5f7;
            transition: 300ms;
          }
        }
        // author: A.Eshghi
        > div.InMenu:nth-of-type(1) > a {
          font-size: 20px;
        }
        > div.InMenu:nth-last-of-type(1) > a,
        div.InMenu:nth-last-of-type(2) > a {
          font-size: 16px;
        }
      }
    }
    div.iphone {
      display: flex;
      text-align: center;
      height: 620px;
      row-gap: 12px;
      background: url("../../images/iphone14.jpg") center center no-repeat;
      background-size: fill;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      font-family: SanFrancis;
      padding-top: 90px;
      margin-bottom: 20px;
      > h1 {
        font-family: SanFrancisBold;
        font-weight: bolder;
        font-size: 52px;
        color: #1d1d1f;
        position: relative;
      }
      > h3 {
        font-size: 27px;
        font-weight: 300;
        color: #1d1d1f;
      }
      div.links {
        > a {
          text-decoration: none;
          color: #06c;
          margin-right: 20px;
          font-size: 20px;
          font-weight: 900;
          transition: 300ms;
          &:hover {
            text-decoration: underline;
            transition: 300ms;
          }
        }
      }
      // author: A.Eshghi
      div.ax {
        width: 100%;
        height: 500px;
        display: flex;
        > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    div.givewow {
      display: flex;
      text-align: center;
      height: 600px;
      row-gap: 12px;
      background: url("../../images/giveWOW.jpg") center center no-repeat;
      background-size: fill;
      justify-content: flex-end;
      text-align: center;
      flex-direction: column;
      font-family: SanFrancis;
      padding-bottom: 50px;
      margin-bottom: 20px;
      > h1 {
        font-family: SanFrancisBold;
        color: #f0f0f3;
        font-size: 55px;
      }
      // author: A.Eshghi
      > h3 {
        // author: A.Eshghi
        font-family: SanFrancis;
        color: #f0f0f3;
        font-size: 32px;
      }
      div.links {
        > a {
          text-decoration: none;
          color: rgb(4, 124, 243);
          margin-right: 20px;
          font-size: 20px;
          font-weight: 900;
          transition: 300ms;
          &:hover {
            text-decoration: underline;
            transition: 300ms;
          }
        }
      }
    }
    div.applecard {
      display: flex;
      text-align: center;
      height: 620px;
      row-gap: 20px;
      background: url("../../images/applecard.jpg") center center no-repeat;
      background-size: fill;
      justify-content: flex-start;
      text-align: center;
      flex-direction: column;
      font-family: SanFrancis;
      padding-top: 70px;
      margin-bottom: 20px;
      > h1 {
        font-family: SanFrancisBold;
        color: #f0f0f3;
        font-size: 55px;
      }
      > h3 {
        font-family: SanFrancis;
        color: #f0f0f3;
        font-size: 28px;
      }
      > h4 {
        font-family: SanFrancis;
        color: #f0f0f3;
        font-size: 21px;
      }
      div.links {
        // author: A.Eshghi
        > a {
          text-decoration: none;
          color: #4da6ff;
          margin-right: 20px;
          font-size: 20px;
          font-weight: 900;
          transition: 300ms;
          &:hover {
            text-decoration: underline;
            transition: 300ms;
          }
        }
      }
    }
    div.promos {
      display: grid;
      gap: 10px;
      grid-template-columns: repeat(2, 1fr);
      margin: 0 12px;
      text-align: center;
      > div {
        height: 600px;
        cursor: pointer;
      }
      > div.p1 {
        height: 600px;
        display: flex;
        flex-direction: column;
        background: url("../../images/promoiphone.jpg") center center no-repeat;
        background-size: fill;
        padding-top: 50px;
        row-gap: 12px;
        > h1 {
          font-family: SanFrancisBold;
          color: #f0f0f3;
          font-size: 40px;
        }
        > h3 {
          font-family: SanFrancis;
          color: #f0f0f3;
          font-size: 22px;
        }
        div.links {
          > a {
            font-family: SanFrancis;
            text-decoration: none;
            color: rgb(4, 124, 243);
            margin-right: 20px;
            font-size: 18px;
            font-weight: 900;
            transition: 300ms;
            &:hover {
              text-decoration: underline;
              transition: 300ms;
            }
          }
        }
      }
      > div.p2 {
        height: 600px;
        display: flex;
        flex-direction: column;
        background: url("../../images/ipad.jpg") center center no-repeat;
        background-size: fill;
        padding-top: 50px;
        row-gap: 12px;
        > h1 {
          font-family: SanFrancisBold;
          color: #1d1d1f;
          font-size: 40px;
        }
        > h3 {
          font-family: SanFrancis;
          color: #1d1d1f;
          font-size: 22px;
        }
        div.links {
          > a {
            font-family: SanFrancis;
            text-decoration: none;
            color: rgb(4, 124, 243);
            margin-right: 20px;
            font-size: 18px;
            font-weight: 900;
            transition: 300ms;
            &:hover {
              text-decoration: underline;
              transition: 300ms;
            }
          }
        }
      }
      // author: A.Eshghi
      > div.p3 {
        height: 600px;
        display: flex;
        flex-direction: column;
        background: url("../../images/airpodsholiday.jpg") center center
          no-repeat;
        background-size: fill;
        padding-top: 50px;
        row-gap: 12px;
        > img {
          width: 30px;
          margin: 0 auto;
        }
        > h1 {
          font-family: SanFrancisBold;
          font-weight: bolder;
          color: #1d1d1f;
          font-size: 40px;
        }
        > h3 {
          font-family: SanFrancis;
          color: #1d1d1f;
          font-size: 22px;
        }
        div.links {
          > a {
            font-family: SanFrancis;
            text-decoration: none;
            color: rgb(4, 124, 243);
            margin-right: 20px;
            font-size: 18px;
            font-weight: 900;
            transition: 300ms;
            &:hover {
              text-decoration: underline;
              transition: 300ms;
            }
          }
        }
      }
      > div.p4 {
        height: 600px;
        display: flex;
        flex-direction: column;
        background: url("../../images/ultrapromo.jpg") center center no-repeat;
        background-size: fill;
        padding-top: 50px;
        row-gap: 12px;
        > img {
          margin: 0 auto;
          width: 150px;
        }
        > h3 {
          font-family: SanFrancis;
          color: #1d1d1f;
          font-size: 22px;
        }
        div.links {
          > a {
            font-family: SanFrancis;
            text-decoration: none;
            color: rgb(4, 124, 243);
            margin-right: 20px;
            font-size: 18px;
            font-weight: 900;
            transition: 300ms;
            &:hover {
              text-decoration: underline;
              transition: 300ms;
            }
          }
        }
      }
      > div.p5 {
        height: 600px;
        display: flex;
        flex-direction: column;
        background: url("../../images/series8promo.jpg") center center no-repeat;
        background-size: fill;
        padding-top: 50px;
        row-gap: 12px;
        > img {
          margin: 0 auto;
          width: 150px;
        }
        > h3 {
          font-family: SanFrancis;
          font-weight: 100;
          color: #f0f0f3;
          font-size: 22px;
        }
        // author: A.Eshghi
        div.links {
          > a {
            font-family: SanFrancis;
            text-decoration: none;
            color: rgb(4, 124, 243);
            margin-right: 20px;
            font-size: 18px;
            font-weight: 100;
            transition: 300ms;
            &:hover {
              text-decoration: underline;
              transition: 300ms;
            }
          }
        }
      }
      > div.p6 {
        height: 600px;
        display: flex;
        flex-direction: column;
        background: url("../../images/ipadpro.jpg") center center no-repeat;
        background-size: fill;
        padding-top: 50px;
        row-gap: 12px;
        > h1 {
          font-family: SanFrancisBold;
          color: #f0f0f3;
          font-size: 40px;
        }
        > h3 {
          font-family: SanFrancis;
          color: #f0f0f3;
          font-size: 22px;
          font-weight: 100;
        }
        div.links {
          > a {
            font-family: SanFrancis;
            text-decoration: none;
            color: rgb(4, 124, 243);
            margin-right: 20px;
            font-size: 18px;
            font-weight: 100;
            transition: 300ms;
            &:hover {
              text-decoration: underline;
              transition: 300ms;
            }
          }
        }
      }
    }
    > div.footer {
      width: 100%;
      height: auto;
      background-color: #f5f5f7;
      padding: 0% 10%;
      padding-top: 10px;
      > p {
        margin-bottom: 10px;
        font-family: SanFrancis;
        color: #6e6e73;
        font-size: 15px;
        &:nth-of-type(1) {
          color: #565658;
        }
      }
      > div.guide {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        > ul {
          font-family: SanFrancis;
          font-size: 13px;
          list-style: none;
          > li {
            margin-bottom: 10px;
            color: #424245;
            &:hover {
              text-decoration: underline;
              cursor: pointer;
            }
            &:nth-of-type(1) {
              color: #1d1d1fd3;
              font-size: 14px;
              font-family: SanFrancisBold;
              margin-top: 15px;
              text-decoration: none;
              cursor: default;
            }
          }
        }
      }
      > div.credits {
        height: 55px;
        background-image: radial-gradient(
          circle,
          #ff26aa,
          #f178d8,
          #e3aaf3,
          #e2d3fc,
          #f5f5f7
        );
        color: #424245;
        > h3 {
          text-align: center;
          line-height: 55px;
          font-size: 25px;
          font-family: cursive;
        }
      }
    }
    // author: A.Eshghi
    .swiper {
      margin: 0px auto;
      height: auto;
      width: 90%;
      margin-bottom: 20px;
    }
    .swiper-slide {
      background-position: center;
      background-size: cover;
      height: inherit;
      object-fit: cover;
    }
    .swiper-slide img {
      display: block;
      width: 100%;
    }
  }
}
